.icon__content {
	li{
		display: inline-block;
		float: left;
		margin: 3rem;
		width: 5rem;
		text-align: center;
		display: block;
		height: 5rem;
		text-indent: -9999px;
		background: transparent url("../img/icon8.png") center no-repeat;
		background-size: 5rem;

	}
}


