html, body {
	height: 100%;
	background-color: $colorprimario;
}




.wrapper {
	height: 100%;
	&--cincuenta{
		text-align: center;
		display: block;
		background: transparent url('../img/fondo.png') center  no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: flex;
		align-items: center;
	}
	&--centrado {
		text-align: center;
		display: block;
		background: transparent url('../img/fondo.png') center  no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		display: flex;
		align-items: center;
	}
	
}
