/* general */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

/* ----------------FUENTES---------------- */
p {
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
  min-width: 32rem;
  display: block; }

strong {
  font-weight: 700; }

hr {
  display: block;
  background-color: white;
  margin-bottom: 2.4rem;
  width: 16%;
  height: 2px; }

.btn-rounded {
  text-align: center;
  display: inline-block;
  color: #00D699;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 40%;
  padding: 1.4rem 0px;
  border: 3px solid #00D699;
  font-size: 1.8rem;
  border-radius: 8rem;
  min-width: 32rem;
  line-height: 2.2rem; }
  .btn-rounded li {
    display: inline-block; }
  .btn-rounded__text {
    display: inline-block;
    margin-right: 1.2rem; }
  .btn-rounded__icon {
    text-indent: -9999px;
    display: inline-block;
    background: transparent url("../img/icon-1.png") center no-repeat;
    height: 2.4rem;
    width: 2.4rem;
    background-size: 3rem 3rem; }

html, body {
  height: 100%;
  background-color: #FADEB0; }

.wrapper {
  height: 100%; }
  .wrapper--cincuenta {
    text-align: center;
    display: block;
    background: transparent url("../img/fondo.png") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center; }
  .wrapper--centrado {
    text-align: center;
    display: block;
    background: transparent url("../img/fondo.png") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center; }

/* partials */
.welcome__content {
  margin: 0px auto;
  width: 50%;
  min-width: 32rem; }

h1 {
  display: block;
  background: transparent url("../img/logo.png") center no-repeat;
  height: 20rem;
  text-indent: -9999px;
  background-size: 20rem 20rem;
  margin-bottom: 6rem; }

/* rwd */

/*# sourceMappingURL=general.css.map */
