.welcome__content {
	margin: 0px auto;
	width: 50%;
	min-width: 32rem;
	&--text{
		color: white;
	}

}
h1 {
	display: block;
	background: transparent url('../img/logo.png') center  no-repeat;
	height: 20rem;
	text-indent: -9999px;
	background-size: 20rem 20rem;
	margin-bottom: 6rem;
}